<div class="homepage">
  <div class="container-fluid">
    <div class="jumbotron">
      <div class="logo">
        <%= image_tag 'logo-transparent.png', alt: '' %>
      </div>
      <h1>To Buy or<br />Not To Buy?</h1>
      <p>A mobile-friendly, fast view of your Discogs collection. Helps you answer that age-old question when you're in your local record store: Do I already own this album?</p>
      <%= form_tag '/auth/discogs' do  %>
        <div class="form-group">
          <%= submit_tag 'Sign in with Discogs', class: 'btn btn-primary btn-lg btn-block' %>
          <div class="checkbox">
            <label>
              <%= check_box_tag :remember_me %> Remember me for two weeks
            </label>
          </div>
        </div>
      <% end %>

      <%= render 'shared/footer' %>
    </div>
  </div>
</div>